body{
	margin:0;
	padding:0;
}
.btn-8g {
	background: palegoldenrod;
	color: #999;
	margin-bottom: 0px;
}

.helloLandingTop{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}

.cohortSelectorInst:focus {

	outline-color: transparent;

}

.cohortSelectorInst{
	background-color: transparent;
}

#dropdownMenuInst{
	background-color: lightgray;
	opacity: .9;
}

#createBtn{

    display: flex;
    justify-content: flex-start;

  }

.LPInstBig{
		background-color: #ececec;
		padding-bottom: 100%;
 }

.LPStuBig{
		background-color: #383838;
		padding-bottom: 100%;
 }

#LPStuBigHeader{
	color:white;
	display: flex;
	justify-content: center;
}