#cardContainer{

    display: flex;
    justify-content: center;
}

#cardBodyInst{

    border-radius: 12px;
    box-shadow: 5px 5px 5px white;
    background-color: transparent;
    display:flex;
    justify-content: center;
    width: 70%;
    padding: 10px;
    margin: 15px;
    align-items: center;
    align-content: center;
}
#cardBodyStu{

    border-radius: 12px;
    box-shadow: 5px 5px 5px grey;
    background-color: gunsmoke;
    display:flex;
    justify-content: center;
    width: 70%;
    padding: 10px;
    margin: 15px;
    align-items: center;
    align-content: center;
}

#cardHeader{

    width: 100%;
    justify-content: center;
}