#timeCard{

    display: flex;
    background-color: transparent;
    margin-left: 50vw;
    margin-bottom: 1vh;

}

#clockinButton{
    display: flex;
    justify-content: center;
}

#innerCard{



}

#cardAttend{
    border-radius: 12px;
    /* box-shadow: 5px 5px 5px white; */
   background-color: transparent;
   color: white;

}

#cardBodyAttend{
    display: flex;
   align-content: center;
}