body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,"Roboto",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',Roboto
    monospace;
}


#createBtn{

  display: flex;
  justify-content: flex-end;
  margin-right: 100px;

}

.form-group-reg{

  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  margin: auto;
 padding: 20px 150px;
}

button:focus{
  outline:0;
}

.stickyNav{
  top: 0;
  position: sticky;
  z-index: 3000;
}

@media only screen and (max-width: 700px){
.stickyNav{
  bottom: 0;
  position: sticky;
  z-index: 3000;

}

}
